#about
  %p
    Tickit is a very simple time tracking system where you work on one project at a time.
    To start and stop the timer, use the start and stop buttons!
    Untracked time will turn red. When the time is black, it is showing your total time.
    To track your time, stop the timer and hit commit.

#credits
  %p
    %a{:href => 'http://justinpoliey.com'} Justin Poliey
    &copy; 2009

%ul
  %li
    %a{:href => '/'} Cool

