#current.clock= @total_time

#controlpanel
  %input#toggle{:type => 'button', :value => 'Start'}
  %input#log{:type => 'button', :value => 'Commit', :disabled => 'disabled'}

%ul#nav
  %li
    %a#new New
  %li
    %a{:href => '/about'} About

