#current.clock= @total_time

#controlpanel
  %input#toggle{:type => 'button', :value => 'Start'}
  %input#log{:type => 'button', :value => 'Commit', :disabled => 'disabled'}

%ul#commits
%ul
  %li
    %a{:href => '/new'} New
  %li
    %a{:href => '/about'} About

